<div class="container">
    <div class="main-content login-card">
        <div class="card">
            <h4 class="card-header">Login</h4>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="username">Email</label>
                        <input type="text" formControlName="username" class="form-control" />
                        <div *ngIf="submitted && form.controls.username.errors" class="invalid-feedback">
                            <div *ngIf="form.controls.username.errors.required">Email is required</div>
                            <div *ngIf="form.controls.username.errors.email">Email is not valid</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" formControlName="password" class="form-control"  />
                        <div *ngIf="submitted && form.controls.password.errors" class="invalid-feedback">
                            <div *ngIf="form.controls.password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" (click)="onSubmit()" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Login
                        </button>
                        <div *ngIf="submitted && !loggedIn"  class="invalid-feedback">
                            <div>Username/Password is Incorrect</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>