<div class="card">
    <h4 class="card-header">Manage Task Information</h4>
    <div class="card-body">
        <form [formGroup]="form">
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input type="text" matInput formControlName="name"  />
                  </mat-form-field>
                <div *ngIf="submitted && form.controls.name.errors" class="invalid-feedback">
                    <div *ngIf="form.controls.name.errors.required">Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Status</mat-label>
                    <mat-select  formControlName="status" >
                      <mat-option [value]="'Pending'">
                        {{'Pending'}}
                      </mat-option>
                      <mat-option [value]="'Completed'">
                        {{'Completed'}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                <!-- <label for="status">Status</label> -->
                <!-- <input type="password" formControlName="password" class="form-control"  /> -->
                <div *ngIf="submitted && form.controls.status.errors" class="invalid-feedback">
                    <div *ngIf="form.controls.status.errors.required">Status is required</div>
                </div>
            </div>
            <div class="form-group">
                <button  class="btn btn-primary" (click)="submit()">
                    Submit
                </button>
                <button (click)="close()" class="btn btn-primary ml-2">
                    Close
                </button>
               
            </div>
            
        </form>
    </div>
</div>