/* You can add global styles to this file, and also import other style files */
.invalid-feedback{
    display: block;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 30px;
  }
  
  html, body {
    height: 100%;
  }
  

  @import "~@angular/material/prebuilt-themes/indigo-pink.css";